.alert {
  animation-name: show-alert;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  position: fixed !important;
  bottom: 10vh;
  left: 50%;

  button {
    margin-right: 1.5rem;
  }

  @keyframes show-alert {
    0% {
      opacity: 0;
      transform: translate(-50%, -1rem);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}

.alert.hidden {
  animation-name: hide-alert;

  @keyframes hide-alert {
    0% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -1rem);
    }
  }
}
