.blog-posting-form {
  * {
    font-size: 16px !important;
  }

  > div {
    margin-bottom: 1.5rem;
  }

  input[type="file"] {
    display: none;
  }

  input[type="file"] + span {
    cursor: pointer;
  }

  .preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .thumbnail {
      min-width: 150px;
      height: 150px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      border-radius: 1rem;
      text-align: center;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.tooltip {
  z-index: 1000;
  display: block;
  position: absolute;
  padding: 1rem 2rem;
  color: black !important;
  background: rgb(245, 245, 245) !important;
  top: 0;
}
