@use "../base";

.widget {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
  justify-content: center;

  h1 {
    font-size: 7rem;
    font-weight: 800;
    color: base.$primary;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content-container {
    p {
      font-size: 1.6rem;
      margin-bottom: 2rem;
      color: rgba(base.$dark, 0.7);
    }
  }
}

.widget-header {
  min-height: 70vh;
}

.widget-right {
  > .row {
    flex-direction: column-reverse;
  }
}
