@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

$primary: #97d534;
$lightGray: #cacaca;
$dark: #535353;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
}

#root {
  overflow: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  * {
    font-size: 1.6rem;
  }
}

.circle-layout {
  display: block;
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: rgba($primary, 0.7);
  z-index: 0;

  @media (max-width: 768px) {
    width: 20rem;
    height: 20rem;
  }
}

.custom-btn {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
  background: $lightGray;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);

  &:hover {
    background: rgb($lightGray, 0);
    color: $dark;
    border: 1px solid $dark;
  }
}

.custom-btn.primary {
  background: $primary;
  color: white;
  &:hover {
    background: rgb(70, 200, 70);
    color: white;
  }
}
