.blog-single-container {
  .media {
    img {
      max-height: 50vh;
      width: auto;
      min-width: 300px;
      object-fit: cover;
    }
  }

  img,
  .video-section {
    border-radius: 1rem;
    overflow: hidden;
  }

  .video-section,
  .thumbnail {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media (max-height: 768px) {
    > .row {
      flex-direction: column;
    }
  }
}
