@use "base";

.navbar {
  margin: 2rem 0 5rem;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;

  #toggle-btn {
    border: none;
    outline: none;
    font-size: 2rem;
  }
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 800;
  color: base.$primary;

  &:hover {
    color: base.$primary;
  }
}

#search-form {
  input {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    width: 10rem;
    transition: width 0.3s ease-in-out;

    &:focus,
    &:active,
    &:hover {
      width: 20rem;
    }
  }

  button {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
  }

  button[type="submit"] {
    background: base.$primary;

    border: none;

    &:hover {
      background: rgb(70, 200, 70);
    }
  }
}

.navbar-nav {
  $title: attr(title);

  margin-left: 3rem;

  .nav-link {
    display: flex;
    padding: 1rem 3rem !important;
    position: relative;
    // overflow: hidden;

    * {
      font-size: 2rem;
    }

    svg {
      margin: auto 0;
    }

    span {
      margin-left: 2rem;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: base.$primary;
      opacity: 0;
      transform: translate(-100%, 0);
      transition: 0.5s ease-in-out;
    }

    &::before {
      content: $title;

      display: none;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;

      padding: 0.7rem;
      font-size: 1rem;

      transform: translate(-50%, calc(100% + 10px));
      background: rgba(0, 0, 0, 0.2);
      color: white;
    }

    &:hover {
      &::after {
        transform: translate(0, 0);
        opacity: 1;
      }

      &::before {
        display: block !important;
      }
    }
  }

  .nav-link.active {
    font-size: bold;
    color: base.$primary;
    // &::after {
    //   opacity: 1;
    //   transform: translate(0);
    // }
  }
}

.logout-btn {
  background: rgb(200, 200, 200);
}

.logout-btn:hover {
  background: rgb(150, 150, 150);
}

.search-btn {
  background: rgb(255, 118, 5);
  background: linear-gradient(110deg, #ff4b2b 0%, #ff416c 100%);

  // background-size: 200% 200%;
  &:hover {
    filter: brightness(90%);
  }
}

#navbar-selector {
  position: absolute;
  z-index: 10;

  bottom: 0;
  left: 0;
  width: 150px;
  height: 1px;
  background: base.$primary;

  transition: left 0.3s ease-in-out;
  transition-duration: 0.3s;
}