button.add-cart-btn,
a.add-cart-btn {
  background: rgb(200, 50, 50);
  font-size: 2rem;
  border: none;
  padding: 1rem 2rem;
  margin: 2rem 0;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: rgb(230, 20, 20);
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.2);
  }
}

.cost {
  padding: 1rem 2rem;
  background: rgb(255, 220, 220);
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.product-single-container {
  .row:first-child {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.product-single-container {
  @media (max-width: 768px) {
    .row:first-child {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }
}
